HTTP_ADDR=:8080

REDIS_ADDR=localhost:6380
REDIS_PORT=6380
REDIS_STREAM_NAME=tasks:stream
REDIS_SCHEDULED_SET_KEY=tasks:scheduled
REDIS_DEAD_STREAM_NAME=tasks:dead
REDIS_CONSUMER_GROUP=gotaskqueue-workers
REDIS_CONSUMER_NAME=gotaskqueue-worker-1

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=gotaskqueue
POSTGRES_USER=gotaskqueue
POSTGRES_PASSWORD=gotaskqueue
POSTGRES_SSLMODE=disable

PROMETHEUS_PORT=9090
PROMETHEUS_URL=http://localhost:9090

SCHEDULER_INTERVAL_SECONDS=2
SCHEDULER_BATCH_SIZE=100

WORKER_CONCURRENCY=4
WORKER_BATCH_SIZE=10
